.indivisualProductSection {
    margin: .5rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    min-width: 20rem;
    max-width: 25rem;
}

.indivisualProductSection>img {
    width: 100%;
    aspect-ratio: 2/1.25;
}

.data-div {
    padding: 1.5rem 2rem;
}

.cart-op-div{
    display: flex;
    justify-content: space-around;
    margin: .5rem;
    padding: .5rem;
}

.cart-op-div > div {
    display: flex;
    align-items: center;
}


#add-to-cart {
    border: 1px solid lightgrey;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

#inc-dec-div > div {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    /* align-items: center; */
}

#inc-dec-div {
    border-radius: 1rem;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    width: max-content;
}
.op-inc-dec {
    align-items: center;
    padding: .5rem;
}