.card-indi-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    /* margin: .5rem; */
    background-color: white;
    border-radius: 1rem;
}

.card-indi-order > div {
    margin:  1rem;
}
#inc-dec-div > div {
    height: 1rem;
    width: 1rem;
    
    align-items: center;
}

#inc-dec-div {
    border-radius: 1rem;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.op-inc-dec {
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}