.allCartItems{
    /* display: flex; */
    flex-wrap: wrap;
    padding: 1rem;
    /* background-color: rgba(242, 242, 242, 0.931); */
    margin: none;
}

body {
    background-color: rgba(242, 242, 242, 0.931);
}

.place-order {
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.main-div {
    align-items: center;
}