body {
    background-color: rgba(242, 242, 242, 0.931);
}

.all-orders{
    /* display: flex; */
    flex-wrap: wrap;
    padding: 1rem;
    /* background-color: rgba(242, 242, 242, 0.931); */
    margin: none;
}