body {
    background-color: rgba(242, 242, 242, 0.931);
}

.main-div {
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: space-around;
}

.main-div > div {
    margin: 1rem;
}
