body {
    background-color: rgba(242, 242, 242, 0.931);
}

.main-div {
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
}

.image-div > img {
    width: 100%;
}

.image-div {
    max-width: 35rem;
    margin: 1rem;

}

.product-data {
 background-color:  white;
 max-width: 30rem;
 border-radius: 2rem;
 padding: 1rem;
 margin: 1rem;
}
