.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-bar :hover{

    border-bottom: 2px solid lightgreen;
}

a:hover {
    color: green;
    scale: 1.2;
}